<p id="notice"><%= notice %></p>

<h1>Range Times</h1>

<table>
  <thead>
    <tr>
      <th>Start time</th>
      <th>End time</th>
      <th>Difference hours</th>
      <th>Difference seconds</th>
      <th>Date</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @range_times.each do |range_time| %>
      <tr>
        <td><%= range_time.start_time %></td>
        <td><%= range_time.end_time %></td>
        <td><%= range_time.difference_hours %></td>
        <td><%= range_time.difference_seconds %></td>
        <td><%= range_time.date %></td>
        <td><%= range_time.user %></td>
        <td><%= link_to 'Show', range_time %></td>
        <td><%= link_to 'Edit', edit_range_time_path(range_time) %></td>
        <td><%= link_to 'Destroy', range_time, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to "New Range Time", controller: "range_times", action: "create" %>
