<!DOCTYPE html>
<html>
  <head>
    <title>Horasnoponto</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse fixed-top">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <%= link_to "Home", { :controller => "range_times", :action => "new" }, :class => "nav-link" %>          
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Registros</a>
            <div class="dropdown-menu active" aria-labelledby="dropdown01">
              <%= link_to "Todos", { :controller => "range_times", :action => "index" }, :class => "dropdown-item" %>
              <%= link_to "Mês", { :controller => "range_times_month", :action => "index" }, :class => "dropdown-item" %>
              <%= link_to "Semana", { :controller => "range_times_week", :action => "index" }, :class => "dropdown-item" %>
              <%= link_to "Hoje", { :controller => "range_times_today", :action => "index"}, :class => "dropdown-item" %>
            </div>
          </li>
          <li class="nav-item active">
            <%= link_to "Sair", { :controller => "sessions", :action => "destroy" }, :class => "nav-link" %>          
          </li>
        </ul>
      </div>
    </nav>
    <div class="container">
      <div class="row">
        <div class="col-12">
        </div>
      </div>>
      <div class="row">
        <div class="col-12">
        </div>
      </div>
      <%= yield %>	
    </div>   
  </body>
</html>
